/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

button {
	border: unset;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	position: relative;
	margin: 0;
}

.car,
.enemy {
	position: absolute;
	left: 125px;
	bottom: 10px;
	width: 50px;
	height: 100px;
	background: transparent url("./img/player.png") center / contain no-repeat;
}

.gameArea {
	width: 300px;
	height: calc(100vh - 100px);
	position: relative;
	margin: auto;
	background: #222;
	overflow: hidden;
}

.line {
	position: absolute;
	left: 145px;
	width: 10px;
	height: 50px;
	background-color: #fff;
}

.levels {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100px - 2rem);
	width: 100%;
	padding: 1rem;
	box-shadow: 3px 3px 5px 1px #a19595;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	font: inherit;
	text-decoration: none;
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border: none;
	border-radius: 45px;
	margin: 10px 20px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
	cursor: pointer;
}

.btn:hover {
	background: rgb(232, 95, 76);
	box-shadow: 0 15px 15px rgb(152, 15, 0);
	color: white;
	transform: translateY(-7px);
}

.btn:disabled {
	background-color: rgb(160, 155, 155);
	color: #524f4e;
	cursor: none;
	
}

.score {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 1rem;
	width: auto;
}

.score.end-game {
	top: 0;
	right: 0;
	z-index: 99;
	color: #fff;
	font-size: 30px;
	width: auto;
	background: #222;
}

.start {
	position: absolute;
	font-size: 18px;
	text-align: center;
	font-family: Arial, sans-serif, SansSerif;
	border-radius: 45px;
	color: #fff;
	background: rgb(160, 155, 155);
	padding: .7em 1.5em;
	outline: none;
	cursor: pointer;
	z-index: 200;
}

.start:hover {
	background: rgb(232, 95, 76);
	color: black;
}

.start:active {
	background: rgb(152, 15, 0);
}

.game {
	height: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.hide {
	display: none;
}

.records {
	position: absolute;
	top: 4%;
	left: 0;
	width: 314px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.title-records {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 10px;
}

.button-music {
	position: fixed;
	top: 10%;
	right: 3%;
	height: 16px;
	width: auto;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	
}

.button-music:hover {
	opacity: 0.4;
}

.open-music {
	width: 100%;
	height: 100%;
}

.close-music {
	width: 100%;
	height: 100%;
}